<p>{{titleApp}}</p>
<div class="form-group">
    <label for="">Search By Price</label>
    <input name="priceMax" [(ngModel)]="priceMax" type="number" class="form-control">
</div>

{{priceMax}}
<table class="table table-info ">
    <thead>
        <tr>
            <th>Image</th>
            <th>ID</th>
            <th>title</th>
            <th>Description</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Like❤</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody *ngFor="let product of listProduct ">
        <tr *ngIf="product.price < priceMax">
            <td><img src="{{product.picture}} "> </td>
            <td>{{product.id}}</td>
            <td>{{product.title}}</td>
            <td>{{product.description}}</td>
            <td>{{product.price}}</td>
            <td>{{product.quantity}}</td>
            <td> <button class="btn btn-sm btn-success " (click)="incrementLike(product)">👍{{product.like}}</button> </td>
            <td> <button class=" btn-sm btn-warning " [hidden]="product.quantity===0" (click)="buyProduct(product)">Buy</button>
                <p *ngIf="product.quantity===0"> Out Of Stock</p>
            </td>

        </tr>
    </tbody>

</table>